{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "usage",
          "corejs": { "version": 3 },
          "shippedProposals": true,
          "targets": { "ie": 9 },
          "loose": true
        }
      }
    ]
  ]
}
