$color-blue: #4a56a8;
$color-darkblue: saturate(darken($color-blue, 20%), 10%);
$color-dark: #222;
$color-light: #eee;
$color-mint: #6dcff6;

$display-font-family: "Montserrat", "Gothic A1", sans-serif;
