@charset "UTF-8";
@import "~@/styles/variables";

.hero {
  position: relative;
  font-family: $display-font-family;
  color: $color-light;
  text-align: center;

  hr {
    margin: 0 auto;
    width: 3em;

    border: 0;
    border-bottom: 2px solid currentColor;
  }
  h1 {
    font-size: 3em;
    font-weight: 700;
  }
  h2 {
    font-size: 2em;
    font-weight: 400;
  }
  strong {
    color: $color-mint;
  }
}
.heroDiagonal {
  top: -3vw;
}
.heroBox {
  position: relative;
  margin: 0 auto;
  padding: 8rem 2rem;
  max-width: 60rem;
}
.heroBg {
  width: 100%;
  height: 100%;
  background-color: $color-darkblue;
  background-image: url("@/assets/images/hero-bg.jpg");
  background-position: center center;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-darkblue, 0.5);
    background-image: radial-gradient($color-darkblue, transparent);
  }
}
.introduce {
  color: $color-dark;
  text-align: center;

  strong {
    color: $color-blue;
  }
}
.introduceDiagonal {
  background-color: $color-light;
}
.goals {
  color: $color-light;
  text-align: justify;

  strong {
    color: $color-mint;
  }
}
.goalsDiagonal {
  background-color: $color-blue;
}
.about {
  color: $color-light;
  text-align: justify;

  strong {
    color: $color-mint;
  }
}
.aboutDiagonal {
  background-color: $color-darkblue;
}
