._271daMSI3vuukhDFaWvqGQ {
  position: relative; }

._13zI7edcBdb_WfVI0bTg2y {
  position: relative;
  padding: 5rem 2rem;
  max-width: 60rem;
  margin: 0 auto; }

._2U8o8IdCYSf-eMpEo-JHoZ h1 {
  font-size: 3rem;
  font-family: "Montserrat", "Gothic A1", sans-serif; }

._2U8o8IdCYSf-eMpEo-JHoZ hr {
  display: inline-block;
  width: 4rem;
  border: 0;
  border-bottom: 0.2rem solid currentColor; }

._2DR8FErQ4NNz9GAxsXdBKx {
  width: 100%;
  max-width: 30em;
  margin: 0 auto;
  border-collapse: collapse; }
  ._2DR8FErQ4NNz9GAxsXdBKx th {
    width: 5em; }
  ._2DR8FErQ4NNz9GAxsXdBKx tbody tr:first-child th,
  ._2DR8FErQ4NNz9GAxsXdBKx tbody tr:first-child td {
    border-top: 3px solid #eee; }
  ._2DR8FErQ4NNz9GAxsXdBKx tbody tr:last-child th,
  ._2DR8FErQ4NNz9GAxsXdBKx tbody tr:last-child td {
    border-bottom: 3px solid #eee; }
  ._2DR8FErQ4NNz9GAxsXdBKx tbody th,
  ._2DR8FErQ4NNz9GAxsXdBKx tbody td {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 0.5rem 1rem; }
  ._2DR8FErQ4NNz9GAxsXdBKx tbody td {
    text-align: left; }
  ._2DR8FErQ4NNz9GAxsXdBKx tbody * + th,
  ._2DR8FErQ4NNz9GAxsXdBKx tbody * + td {
    border-left: 1px solid rgba(238, 238, 238, 0.1); }

.CyE88BDu8DyowcPtK8mPE {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  overflow: hidden; }

._1iL74kHjQNgeFgDWoWnjsH {
  position: absolute;
  top: -3vw;
  bottom: -3vw;
  left: 0;
  right: 0; }

._1gRi7a-QBB7fahQsNd2Jgb {
  position: relative;
  z-index: 2; }

.kHncFedGTVp14FZt4TbW7 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%); }

._1pLsyKpVI2Z1lRUQuUY9yk {
  display: inline-block;
  width: 3.5em;
  height: 6em;
  border-radius: 100em;
  background-color: #4a56a8;
  padding: 1em;
  box-shadow: 0 0.5em 1em rgba(36, 45, 104, 0.66); }

._1mz22mAQSe5pP1OBM8C5lv {
  display: block;
  width: 0.3em;
  height: 1.33em;
  background-color: #eee;
  border-radius: 100em;
  margin: 0 auto; }

