.CyE88BDu8DyowcPtK8mPE {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  overflow: hidden; }

._1iL74kHjQNgeFgDWoWnjsH {
  position: absolute;
  top: -3vw;
  bottom: -3vw;
  left: 0;
  right: 0; }

._1gRi7a-QBB7fahQsNd2Jgb {
  position: relative;
  z-index: 2; }

.kHncFedGTVp14FZt4TbW7 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%); }

._1pLsyKpVI2Z1lRUQuUY9yk {
  display: inline-block;
  width: 3.5em;
  height: 6em;
  border-radius: 100em;
  background-color: #4a56a8;
  padding: 1em;
  box-shadow: 0 0.5em 1em rgba(36, 45, 104, 0.66); }

._1mz22mAQSe5pP1OBM8C5lv {
  display: block;
  width: 0.3em;
  height: 1.33em;
  background-color: #eee;
  border-radius: 100em;
  margin: 0 auto; }

